  <h1>Welcome to BitlyCodeaCampAndre(WBCCA)!</h1>
  <% if @urls %>
  <p>Your new shorten link is: "<span id="short_link"><%= @urls %></span>"</p>
  
  <% end %>
<div id='parraf'>
  <form id="forma" action="/urls" method="post" name="formName">
    <h4>Introduce your URL</h4>
    <br>
    <input id="text_id" type="text" name="user_input" value="paste your URL!">
    <input id="boton" type="submit" value="Shorten it!">
</div>
  </form>
